.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid blue;
  align-items: center;
}

.header button {
  width: fit-content;
  height: fit-content;
}

